tests
/tests
__pycache__

# pyenv
.python-version

# Environments
.env
.venv


# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# Папки, создаваемые средой разработки
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

poetry.lock
pyproject.toml