__pycache__/
*.py[cod]

*.sublime-project
*.sublime-workspace 


# pyenv
.python-version

# Environments
.git/*
.env
.venv
env/
venv/



# mypy
.mypy_cache/
.dmypy.json
dmypy.json


*.sublime-project
*.sublime-workspace

poetry.lock
pyproject.toml